.notes-page{

min-height:100vh;

background:#061312;

padding:60px;

font-family:monospace;

color:#111;

}



/* TITULO */

.notes-title{

text-align:center;

color:#e8dfc5;

margin-bottom:40px;

}


.notes-title p{

color:#63ddd1;

letter-spacing:5px;

font-size:13px;

}


.notes-title h1{

font-size:45px;

margin-top:20px;

}



/* JANELA */

.mail-window{

width:700px;

margin:auto;

background:#d4d0c8;

border:3px solid #000;

box-shadow:
8px 8px 0 #000;

}



/* BARRA */

.window-top{

height:45px;

background:#e7cfa0;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 15px;

font-weight:bold;

}



/* CORPO */

.window-content{

padding:25px;

}





.field{

margin-bottom:20px;

}




.field label{

display:block;

font-weight:bold;

margin-bottom:8px;

}





input,
textarea{


width:100%;

box-sizing:border-box;

background:white;

border:3px inset #888;

padding:10px;

font-family:monospace;

font-size:15px;


}




input{

height:40px;

}





textarea{

height:180px;

resize:none;

}





.save-button,
.note-header button{


background:#d4d0c8;

border:3px outset white;

padding:10px 25px;

font-family:monospace;

cursor:pointer;

font-weight:bold;

}



.save-button:active,
.note-header button:active{

border:3px inset white;

}



/* NOTAS SALVAS */


.notes-list{

margin-top:30px;

}





.note-card{

background:#fff;

border:2px solid #333;

padding:15px;

margin-bottom:15px;

}





.note-header{

display:flex;

justify-content:space-between;

border-bottom:1px dashed #333;

padding-bottom:8px;

}





.note-header button{

padding:3px 10px;

}




/* VOLTAR */


.back-button{


display:block;

width:max-content;

margin:40px auto 0;


color:#63ddd1;

text-decoration:none;

border:2px solid #63ddd1;

padding:12px 25px;


}


.back-button:hover{

background:#63ddd1;

color:#061312;

}

.back-button{

margin-top:40px;

padding:12px 25px;

background:transparent;

border:1px solid #00d9c0;

color:#00d9c0;

font-family:inherit;

cursor:pointer;

transition:0.3s;

}


.back-button:hover{

background:#00d9c0;

color:#06110f;

}